.geo-button {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  margin: 1rem;
}

#map {
  height: 300px;
}

.pin {
  text-align: center;
}
